.nav-link {
    color: #f0f0f0;
}

.dropdown-menu {
    background-color: #4791ff;
}

.dropdown-item {
    color: #f0f0f0;
}

.btn-outline-success {
    color: #ffffff;
    border-color: #6ac199;
}

.container-fluid {
    display: -webkit-box;
    flex-wrap: wrap;
    -webkit-box-pack: center;
}